.jumbotron
  %div
    - if @user.errors
      - @user.errors.full_messages.each do |m|
        .alert-danger #{m}
  = render 'user_form', user: @user
  = link_to 'all', { action: 'index' }, class: 'btn btn-default'