#left-panel
  %div
    = image_tag 'martmara_vertical_logo_en.png', {class: 'logo'}
  %form#login-form{autocomplete: "off", novalidate: true}
    %div
      %input#email{placeholder: "Email", type: "email"}
      .line
        %span
        %span
        %span
      %input#password{placeholder: "Password", type: "password"}
    %p
      %a#forgot-password{href: "#"} Forgot Password?
    %p
      %label
        %input#remember-me{type: "checkbox", checked: true}
        %span Keep me signed in
    %div
      %input{type: "submit", value: "sign in"}
    %div
      %button#register-btn.btn-trans create account
    %div
      %p or Log in with...
    %div.social-login
      %button#facebook-login.btn-trans
        = image_tag 'svg/facebook.svg'
        %span facebook
      %span.line
        %span
      %button#google-login.btn-trans
        = image_tag 'svg/google.svg'
        %span google
    %div
      %a#lang-change-btn{href: "#"} Switch Language