#navbar-container
  #navbar
    %div
      %div
        %a.hidden-xs.hidden-sm.hidden-md Search
        %a#navbar-collapse.hidden-md.hidden-lg Browse
        %span.hidden-xs.hidden-sm.icon-locate
        %span.icon-search
      %div.hidden-xs.hidden-sm
        %ul.menu-sm
          %li
            %a Overview
          %li
            %a Consumers
          %li
            %a Businesses
          %li
            %a Features
          %li
            %a Testimonials
      %div
        %div.hidden-xs.hidden-sm.hidden-md
          %button.download-app-btn.btn-trans Download the App
        %div.profile
          %div
            %img.img-circle{src: "https://pbs.twimg.com/profile_images/604711329769877505/PVdvBNM1.jpg"}
          %div.hidden-xs
            %div Hello
            %div Fatih
          %div.hidden-xs
            %span.icon-down
    %div
      %ul.menu-xs
        %li
          %a Overview
        %li
          %a Consumers
        %li
          %a Businesses
        %li
          %a Features
        %li
          %a Testimonals
